io/schema/text.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="text">
	  	<xsd:complexType>
	    	<xsd:all>
	      		<xsd:element name="title" type="xsd:string" />
	      		<xsd:element name="author" type="xsd:string" minOccurs="0" />
	      		<xsd:element name="year" type="xsd:int" minOccurs="0" />
	      		<xsd:element name="meter">
		   			<xsd:complexType>
		   				<xsd:sequence>
		    				<xsd:element name="count" type="xsd:int" maxOccurs="unbounded" />
		    			</xsd:sequence>
		    			<xsd:attribute name="name" type="xsd:string" default="null" />
		    		</xsd:complexType>
		    	</xsd:element>
	      		<xsd:element name="verses" minOccurs="0">
	      			<xsd:complexType>
	      				<xsd:sequence>
	      					<xsd:element name="verse" minOccurs="0" maxOccurs="unbounded">
	      						<xsd:complexType>
	    							<xsd:sequence>
	      								<xsd:element name="line" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
	    							</xsd:sequence>
	  							</xsd:complexType>
	      					</xsd:element> 
	      				</xsd:sequence>
	      			</xsd:complexType>
	      		</xsd:element>
	    	</xsd:all>
	  	</xsd:complexType>
	</xsd:element>
</xsd:schema>