io/schema/tune.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="tune">
		<xsd:complexType>
	   		<xsd:all>
	   			<xsd:element name="title" type="xsd:string" default="Untitled" />
	   			<xsd:element name="author" type="xsd:string" minOccurs="0" />
	  			<xsd:element name="year" type="xsd:int" minOccurs="0" />
	   			<xsd:element name="meter">
	   				<xsd:complexType>
	   					<xsd:sequence>
	    					<xsd:element name="count" type="xsd:int" maxOccurs="unbounded" />
	    				</xsd:sequence>
	    				<xsd:attribute name="name" type="xsd:string" default="null" />
	    			</xsd:complexType>
	    		</xsd:element>
				<xsd:element name="key" type="xsd:string" />
				<xsd:element name="time">
					<xsd:complexType>
						<xsd:all>
	      					<xsd:element name="beats" type="xsd:int" />
	      					<xsd:element name="length" type="xsd:int" />
	    				</xsd:all>
	    			</xsd:complexType>
	      		</xsd:element>
	      		<xsd:element name="start" type="xsd:decimal" default="1" minOccurs="0" />
	      		<xsd:element name="melody" default="SOPRANO" minOccurs="0">
	      			<xsd:simpleType>
	    				<xsd:restriction base="xsd:string">
	      					<xsd:enumeration value="ALTO"/>
	      					<xsd:enumeration value="SOPRANO"/>
	      					<xsd:enumeration value="TENOR"/>
	      					<xsd:enumeration value="BASS"/>
	    				</xsd:restriction>
	  				</xsd:simpleType>
	      		</xsd:element>
	      		<xsd:element name="parts" type="partList" />
	      		<xsd:element name="chorus" type="refrainType" minOccurs="0" />
	      		<xsd:element name="alleluias" type="alleluiaList" minOccurs="0" />
	    	</xsd:all>
	    </xsd:complexType>
  	</xsd:element>

	<xsd:complexType name="partList">
    	<xsd:all>
      		<xsd:element name="soprano" type="partType" />
      		<xsd:element name="alto" type="partType" />
      		<xsd:element name="tenor" type="partType" />
      		<xsd:element name="bass" type="partType" />
    	</xsd:all>
  	</xsd:complexType>
  	<xsd:complexType name="partType">
    	<xsd:sequence>
      		<xsd:element name="line" minOccurs="0" maxOccurs="unbounded">
      			<xsd:complexType>
      				<xsd:sequence>
      					<xsd:element name="syllable" minOccurs="0" maxOccurs="unbounded">
      						<xsd:complexType>
      							<xsd:sequence>
      								<xsd:element name="note" type="noteType" minOccurs="0" maxOccurs="unbounded" />
      							</xsd:sequence>
      							<xsd:attribute name="repeat" type="xsd:boolean" default="false" />
      						</xsd:complexType>
      					</xsd:element>
      				</xsd:sequence>
      			</xsd:complexType>
      		</xsd:element>
    	</xsd:sequence>
  	</xsd:complexType>
  
	<xsd:complexType name="alleluiaList">
		<xsd:sequence>
			<xsd:element name="alleluia" maxOccurs="unbounded">
	     		<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="refrain" type="refrainType" maxOccurs="unbounded" />
					</xsd:sequence>
					<xsd:attribute name="line" type="xsd:int" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  
	<xsd:complexType name="refrainType">
  		<xsd:all>
			<xsd:element name="soprano" type="refrainLine" />
			<xsd:element name="alto" type="refrainLine" />
			<xsd:element name="tenor" type="refrainLine" />
			<xsd:element name="bass" type="refrainLine" />
  			<xsd:element name="lyrics" type="xsd:string" />
  		</xsd:all>
  		<xsd:attribute name="syllables" type="xsd:int" />
 	</xsd:complexType>
  	<xsd:complexType name="refrainLine">
  		<xsd:sequence>
  			<xsd:element name="syllable" maxOccurs="unbounded">
  				<xsd:complexType>
  					<xsd:sequence>
      					<xsd:element name="note" type="noteType" maxOccurs="unbounded" />
    				</xsd:sequence>
  				</xsd:complexType>
  			</xsd:element>
  		</xsd:sequence>
  	</xsd:complexType>
  
  	<xsd:complexType name="noteType">
   		<xsd:all>
      		<xsd:element name="pitch" type="xsd:string" />
      		<xsd:element name="duration" type="xsd:int" />
    	</xsd:all>
    	<xsd:attribute name="dotted" type="xsd:boolean" default="false" />
    	<xsd:attribute name="slur" type="slurAttribute" default="NONE" />
    	<xsd:attribute name="tie" type="xsd:boolean" default="false" />
    	<xsd:attribute name="rest" type="xsd:boolean" default="false" />
  	</xsd:complexType>

	<xsd:simpleType name="slurAttribute">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BEGIN"/>
			<xsd:enumeration value="MIDDLE"/>
			<xsd:enumeration value="END"/>
			<xsd:enumeration value="NONE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
